body, html {
  margin: 0;
  padding: 0;
  background: #000;
  color: #fff;
  font-family: 'Arial', sans-serif;
}

body {
  background: url('/assets/images/cosmic-web.jpg') no-repeat center center fixed;
  background-size: cover;
}
